// Copyright © 2022 Brian Drelling. All rights reserved.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Xcode

PRODUCT_BUNDLE_IDENTIFIER = com.briandrelling.tun
PRODUCT_NAME = Tün

// Custom
APP_VERSION = 0.2.1
PRIVACY_MICROPHONE_USAGE_DESCRIPTION = We need access to your microphone in order to detect the frequency of your instrument or voice.
